<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/Script/bootstrap.js"></script>
    <script src="jquery-2.1.4.js"> </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body background="~/image/signinbg.jpg">

    <div class="row">
        <div class="bg">

        </div><!-- /.bg -->
    </div><!-- /.row -->

    <nav class="navbar navbar-inverse" role="navigation">

        <div class=" navbar-header">
            <a class="navbar-brand" href="a">Footgear</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/Product/home2"> Home </a></li>
                <li> <a href="~/Home/aboutUs"> About Us </a></li>
                <li> <a href="~/Home/ContactUs"> Contact Us </a></li>

            </ul>

            <!-- Single button -->
        </div>
        <div class="navbar-form navbar-left pull-right">


            <a href="~/Home/Index" class="btn btn-success" role="button">Logout</a>
        </div>
    </nav>

    @RenderBody();
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer class="modal-footer">Copy rights by footgear</footer>
</body>
</html>

