@model List<project2.Models.WomenFancy>
@{
    Layout ="~/Views/Shared/layout2.cshtml";
}
<div>
    <h2 style="font-size: 400%; text-align: center; font-family: 'Lucida Calligraphy'">Women's Fancy</h2>
</div>
              
    <div class="row">
</div>

<a href="/Cart/CheckOut"> <input type="button" value="CheckOut" /></a>
    @foreach (var wf in Model)
    {
        <form action="/Cart/AddtoCartWomenFancy?pid=@wf.Id" method="post" enctype="multipart/form-data">
    <div class="col-sm-6 col-md-4 hero-feature">
        <div class="thumbnail">
            <img src="@Url.Content(wf.Images) "style="height:350px;width:350px" />
            <div class="caption">
                <h4>@wf.Name</h4>
                <p> $@wf.Price<button type="submit" class="btn btn-primary">ADD TO CART</button></p>
            </div>
        </div>
    </div>
            </form>

}

      

       


